/*html {*/
/*    overflow: hidden;
*/    /*scrollbar-width: none;
}*/

/*https://dev.to/emmabostian/creating-a-custom-scroll-bar-in-24-lines-of-css-4gg0
*/
::-webkit-scrollbar {
    display: none;
}


#progressBarContainer {
    position: fixed;
    z-index: 10;
    background: rgba(255, 255, 255, 0.05);
}


#progressBar {
    position: absolute;
    will-change: transform, opacity;
    background: linear-gradient(to top,#43cea2,#185a9d);
    transform-origin: top center;
    transform: scale(1, 0);
    opacity: 0;
}

#progressBarContainer,
#progressBar {
    top: 0;
    right: 0;
    bottom: 0;
    width: 10px;
}
