/**
{
    margin: 0;
    padding: 0;
    font-family: Consolas;
}
section
{
    padding: 50px;
    background: #fff;
}
section h2
{
    font-size: 2.5em;
    color: #000;
}
section p 
{
    font-size: 1.2em;
    color: #000;
}
::-webkit-scrollbar
{
    width: 0;
}
#scrollPath
{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(255,255,255,0.05);
}
#Progressbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    background: linear-gradient(to top, *008aff,#00ffe7);
    animation: animate 5s liner infinite;
}
@keyframes animate
{
    0%,100%
    {
        filter: hue-rotate(0deg);
    }
    50% 
    {
        filter: hue-rotate(360deg);
    }
}
#Progressbar:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, *008aff,#00ffe7);
    filter: blur(10px);
}
#Progressbar:after 
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, *008aff,#00ffe7);
    filter: blur(30px);
}


*/

/*body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container
{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}
    .container .slider 
    {
        position: absolute;
        top: 0;
        left: 0;
        width: 500%;
        height: 100%;
        animation: animate 10s linear infinite;
    }
    .container .slider .slide
    {
        width: 20%;
        height: 100%;
        float: left;
    }
        .container .slider .slide .caption
        {
            position: absolute;
            bottom: 60px;
            left: 60px;
            right: 60px;
            padding: 30px;
            background:rgba(0,0,0,.5);
            box-sizing: border-box;
        }
        .container .slider .slide .caption h2
        {
            margin: 0 0 20px;
            padding: 0;
            color: #fff;
            font-size: 48px;
        }
            .container .slider .slide .caption p
            {
                margin: 0;
                padding: 0;
                color: #fff;
                font-size: 18px;
            }
        .container .slider .slide.slide1 {
            background: url(~/Images/auto-3209511.jpg);
            background-size: cover;
            background-position: center;
        }
        .container .slider .slide.slide2 {
            background: url(~/Images/car-63930.jpg);
            background-size: cover;
            background-position: center;
        }
        .container .slider .slide.slide3 {
            background: url(~/Images/In-Ground-Vehicle-Lifts-vs.-Above-Ground-Vehicle-Lifts.jpg);
            background-size: cover;
            background-position: center;
        }
        .container .slider .slide.slide4 {
            background: url(~/Images/super-cheap-tyres-auckland.jpg);
            background-size: cover;
            background-position: center;
        }
        .container .slider .slide.slide5 {
            background: url(~/Images/tyre_fitting2.jpg);
            background-size: cover;
            background-position: center;
        }

        @keyframes animate
        {
            0%
            {
                left: 0;
            }
            20% 
            {
                left: 0;
            }
            25% 
            {
                left: -100%;
            }
            45% 
            {
                left: -100%;
            }
            50% 
            {
                left: -200%;
            }
            70% 
            {
                left: -200%;
            }
            75% 
            {
                left: -300%;
            }
            95%
            {
                left: -300%;
            }
            100%
            {
                left: -400%;
            }
        }
        @media (max-width: 768px)
 {
    .container .slider .slide .caption {
        bottom: 20px;
        left: 20px;
        right: 20px;
        padding: 20px;
    }

.container .slider .slide .caption h2 {
    margin: 0 0 20px;
    padding: 0;
    color: #fff;
    font-size: 48px;
}

.container .slider .slide .caption p {
    margin: 20px;
    padding: 0;
    color: #fff;
    font-size: 18px;
}
                                 }*/

@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.slider {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    left: -405px;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

    .slide.current {
        opacity: 1;
    }

    .slide .content {
        position: absolute;
        bottom: 70px;
        left: -600px;
        opacity: 0;
        width: 600px;
        background-color: rgba(255, 255, 255, 0.8);
        color: #333;
        padding: 35px;
    }

        .slide .content h1 {
            margin-bottom: 10px;
        }

    .slide.current .content {
        opacity: 1;
        transform: translateX(600px);
        transition: all 0.7s ease-in-out 0.3s;
    }

.buttons button#next {
    position: absolute;
    top: 40%;
    right: 15px;
}

.buttons button#prev {
    position: absolute;
    top: 40%;
    left: 15px;
}

.buttons button {
    border: 2px solid #347fc3;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    padding: 13px 15px;
    border-radius: 50%;
    outline: none;
}

    .buttons button:hover {
        background-color: #347fc3;
        color: #333;
    }

@media (max-width: 500px) {
    .slide .content {
        bottom: -300px;
        left: 0;
        width: 100%;
    }

    .slide.current .content {
        transform: translateY(-300px);
    }
}



/* Backgorund Images */

.slide:first-child {
    background: url('../Images/auto-3209511.jpg') top;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.slide:nth-child(2) {
    background: url('../Images/car-63930.jpg') no-repeat center top;
    background-size: cover;
    background-attachment: fixed;
}

.slide:nth-child(3) {
    background: url('../Images/In-Ground-Vehicle-Lifts-vs.-Above-Ground-Vehicle-Lifts.jpg') no-repeat center top;
    background-size: cover;
    background-attachment: fixed;
}

.slide:nth-child(4) {
    background: url('../Images/bmw-768688.jpg') no-repeat center top;
    background-size: cover;
    background-attachment: fixed;
}

.slide:nth-child(5) {
    background: url('../Images/tyre_fitting2.jpg') no-repeat center top;
    background-size: cover;
    background-attachment: fixed;
}

.slide:nth-child(6) {
    background: url('https://source.unsplash.com/ggZuL3BTSJU/1600x900') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}








/*html, body {
    background: #fff;
    width: 100%;
    overflow-x: hidden;*/
/*    overflow-y: hidden;
*/
/*}

.bar {
    position: relative;
    height: 2px;
    width: 500px;
    margin: 0 auto;
    background: #347fc3;
    margin-top: 150px;
}

.circle {
    position: absolute;
    top: -30px;
    margin-left: -30px;
    height: 60px;
    width: 60px;
    left: 0;
    background: #347fc3;
    border-radius: 30%;
    -webkit-animation: move 5s infinite;
}

p {
    position: absolute;
    top: -35px;
    right: -85px;
    text-transform: uppercase;
    color: #fff;
    font-family: helvetica, sans-serif;
    font-weight: bold;
}

@-webkit-keyframes move {
    0% {
        left: 0;
    }

    50% {
        left: 100%;
        -webkit-transform: rotate(450deg);
        width: 150px;
        height: 150px;
    }

    75% {
        left: 100%;
        -webkit-transform: rotate(450deg);
        width: 150px;
        height: 150px;
    }

    100% {
        right: 100%;
    }
}


#myDiv {
    display: none;
    text-align: center;
}*/

/*body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, silver, teal);
}*/
/*
.roll {
    width: 16em;
    height: 8em;
    position: relative;
    overflow: hidden;
}

    .roll::before,
    .roll::after {
        content: '';
        position: absolute;
        bottom: 0;
    }

    .roll::before {
        width: inherit;
        height: 0.2em;
        background-color: #347fc3;
    }

    .roll::after {
        box-sizing: border-box;
        width: 50%;
        height: inherit;
        border: 0.2em solid #347fc3;
        border-radius: 50%;
        left: 25%;
    }

    .roll span {
        position: absolute;
        width: 5%;
        height: 10%;
        background: linear-gradient(to right, silver, teal);
        border-radius: 50%;
        bottom: 0.2em;
        left: -5%;
        animation: 2s linear infinite;
        transform-origin: 50% -3em;
        animation-name: run, rotating;
    }

        .roll span:nth-child(2) {
            animation-delay: 0.075s;
        }

        .roll span:nth-child(3) {
            animation-delay: 0.15s;
        }

@keyframes run {
    0% {
        left: -5%;
    }

    10%, 60% {
        left: calc((100% - 5%) / 2);
    }

    70%, 100% {
        left: 100%;
    }
}

@keyframes rotating {
    0%, 10% {
        transform: rotate(0deg);
    }

    60%, 100% {
        transform: rotate(-1turn);
    }
}
*/



/*body {
    display: flex;
    align-items: center;
    position: relative;
    background: linear-gradient(to bottom right, #070630 0%,#060454 100%);
    min-height: 100vh;
}*/

.animation-container {
    display: block;
    position: relative;
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
}
.lightning-container {
    position: absolute;
    top: 50%;
    left: 0;
    display: flex;
    transform: translateY(-50%);
}
    .lightning
{
    position: absolute;
    display: block;
    height: 12px;
    width: 12px;
    border-radius: 12px;
    transform-origin: 6px 6px;
    animation-name: woosh;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950);
    animation-direction: alternate;
}
    .white

{
    background-color: #347fc3;
    box-shadow: 0px 50px 50px 0px transparentize(white, 0.7);
}

.red {
    background-color: #fc7171;
    box-shadow: 0px 50px 50px 0px transparentize(#fc7171, 0.7);
    animation-delay: 0.2s;
}

.boom-container {
    position: absolute;
    display: flex;
    width: 80px;
    height: 80px;
    text-align: center;
    align-items: center;
    transform: translateY(-50%);
    left: 200px;
    top: -145px;
}
.shape {
    display: inline-block;
    position: relative;
    opacity: 0;
    transform-origin: center center;
}
.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    transform-origin: 50% 80%;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    margin-left: -15px;
    border-width: 0 2.5px 5px 2.5px;
    border-color: transparent transparent #42e599 transparent;
    animation-name: boom-triangle;
}
    .big

{
    margin-left: -25px;
    border-width: 0 5px 10px 5px;
    border-color: transparent transparent #fade28 transparent;
    animation-name: boom-triangle-big;
}



.disc {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #d15ff4;
    animation-name: boom-disc;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}

.circle {
    width: 20px;
    height: 20px;
    animation-name: boom-circle;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    border-radius: 100%;
    margin-left: -30px;
}
    .white

{
    border: 1px solid #347fc3;
}

.big {
    width: 40px;
    height: 40px;
    margin-left: 0px;
}
    .white

{
    border: 2px solid #347fc3;
}



:after {
    background-color: rgba(178, 215, 232, 0.2);
}



.shape /*{
         &.circle, &.circle.big, &.disc
}*/

{
    animation-delay: .38s;
    animation-duration: 3s;
}

.circle {
    animation-delay: 0.6s;
}



.second {
    left: 485px;
    top: 155px;
}
    .shape

/*{
    &.triangle, &.circle, &.circle.big, &.disc*/

{
    animation-delay: 1.9s;
}

.circle {
    animation-delay: 2.15s;
}


@keyframes woosh {
    0% {
        width: 12px;
        transform: translate(0px, 0px) rotate(-35deg);
    }

    15% {
        width: 50px;
    }

    30% {
        width: 12px;
        transform: translate(214px, -150px) rotate(-35deg);
    }

    30.1% {
        transform: translate(214px, -150px) rotate(46deg);
    }

    50% {
        width: 110px;
    }

    70% {
        width: 12px;
        transform: translate(500px, 150px) rotate(46deg);
    }

    70.1% {
        transform: translate(500px, 150px) rotate(-37deg);
    }

    85% {
        width: 50px;
    }

    100% {
        width: 12px;
        transform: translate(700px, 0) rotate(-37deg);
    }
}

@keyframes boom-circle {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    30% {
        opacity: 0;
        transform: scale(3);
    }

    100% {
    }
}

@keyframes boom-triangle-big {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    40% {
        opacity: 0;
        transform: scale(2.5) translate(50px, -50px) rotate(360deg);
    }

    100% {
    }
}

@keyframes boom-triangle {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    30% {
        opacity: 0;
        transform: scale(3) translate(20px, 40px) rotate(360deg);
    }

    100% {
    }
}

@keyframes boom-disc {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    40% {
        opacity: 0;
        transform: scale(2) translate(-70px, -30px);
    }

    100% {
    }
}

/*
// FOOTER
.footer {
    color: white;
    font-size: 10px;
    position: fixed;
    bottom: 0;
    font-weight: 200;
    padding: 10px 20px;
    a

{
    &, &:hover, &:focus, &:visited

{
    color: #c6c6c6;
}

}
}*/