/**
{
    margin: 0;
    padding: 0;
    font-family: Consolas;
}
section
{
    padding: 50px;
    background: #fff;
}
section h2
{
    font-size: 2.5em;
    color: #000;
}
section p 
{
    font-size: 1.2em;
    color: #000;
}
::-webkit-scrollbar
{
    width: 0;
}
#scrollPath
{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(255,255,255,0.05);
}
#Progressbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    background: linear-gradient(to top, *008aff,#00ffe7);
    animation: animate 5s liner infinite;
}
@keyframes animate
{
    0%,100%
    {
        filter: hue-rotate(0deg);
    }
    50% 
    {
        filter: hue-rotate(360deg);
    }
}
#Progressbar:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, *008aff,#00ffe7);
    filter: blur(10px);
}
#Progressbar:after 
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, *008aff,#00ffe7);
    filter: blur(30px);
}


*/

/*body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container
{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}
    .container .slider 
    {
        position: absolute;
        top: 0;
        left: 0;
        width: 500%;
        height: 100%;
        animation: animate 10s linear infinite;
    }
    .container .slider .slide
    {
        width: 20%;
        height: 100%;
        float: left;
    }
        .container .slider .slide .caption
        {
            position: absolute;
            bottom: 60px;
            left: 60px;
            right: 60px;
            padding: 30px;
            background:rgba(0,0,0,.5);
            box-sizing: border-box;
        }
        .container .slider .slide .caption h2
        {
            margin: 0 0 20px;
            padding: 0;
            color: #fff;
            font-size: 48px;
        }
            .container .slider .slide .caption p
            {
                margin: 0;
                padding: 0;
                color: #fff;
                font-size: 18px;
            }
        .container .slider .slide.slide1 {
            background: url(~/Images/auto-3209511.jpg);
            background-size: cover;
            background-position: center;
        }
        .container .slider .slide.slide2 {
            background: url(~/Images/car-63930.jpg);
            background-size: cover;
            background-position: center;
        }
        .container .slider .slide.slide3 {
            background: url(~/Images/In-Ground-Vehicle-Lifts-vs.-Above-Ground-Vehicle-Lifts.jpg);
            background-size: cover;
            background-position: center;
        }
        .container .slider .slide.slide4 {
            background: url(~/Images/super-cheap-tyres-auckland.jpg);
            background-size: cover;
            background-position: center;
        }
        .container .slider .slide.slide5 {
            background: url(~/Images/tyre_fitting2.jpg);
            background-size: cover;
            background-position: center;
        }

        @keyframes animate
        {
            0%
            {
                left: 0;
            }
            20% 
            {
                left: 0;
            }
            25% 
            {
                left: -100%;
            }
            45% 
            {
                left: -100%;
            }
            50% 
            {
                left: -200%;
            }
            70% 
            {
                left: -200%;
            }
            75% 
            {
                left: -300%;
            }
            95%
            {
                left: -300%;
            }
            100%
            {
                left: -400%;
            }
        }
        @media (max-width: 768px)
 {
    .container .slider .slide .caption {
        bottom: 20px;
        left: 20px;
        right: 20px;
        padding: 20px;
    }

.container .slider .slide .caption h2 {
    margin: 0 0 20px;
    padding: 0;
    color: #fff;
    font-size: 48px;
}

.container .slider .slide .caption p {
    margin: 20px;
    padding: 0;
    color: #fff;
    font-size: 18px;
}
                                 }*/

@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.slider {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    left: -405px;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

    .slide.current {
        opacity: 1;
    }

    .slide .content {
        position: absolute;
        bottom: 70px;
        left: -600px;
        opacity: 0;
        width: 600px;
        background-color: rgba(255, 255, 255, 0.8);
        color: #333;
        padding: 35px;
    }

        .slide .content h1 {
            margin-bottom: 10px;
        }

    .slide.current .content {
        opacity: 1;
        transform: translateX(600px);
        transition: all 0.7s ease-in-out 0.3s;
    }

.buttons button#next {
    position: absolute;
    top: 40%;
    right: 15px;
}

.buttons button#prev {
    position: absolute;
    top: 40%;
    left: 15px;
}

.buttons button {
    border: 2px solid #347fc3;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    padding: 13px 15px;
    border-radius: 50%;
    outline: none;
}

    .buttons button:hover {
        background-color: #347fc3;
        color: #333;
    }

@media (max-width: 500px) {
    .slide .content {
        bottom: -300px;
        left: 0;
        width: 100%;
    }

    .slide.current .content {
        transform: translateY(-300px);
    }
}



/* Backgorund Images */

.slide:first-child {
    background: url('../Images/auto-3209511.jpg') top;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.slide:nth-child(2) {
    background: url('../Images/car-63930.jpg') no-repeat center top;
    background-size: cover;
    background-attachment: fixed;
}

.slide:nth-child(3) {
    background: url('../Images/In-Ground-Vehicle-Lifts-vs.-Above-Ground-Vehicle-Lifts.jpg') no-repeat center top;
    background-size: cover;
    background-attachment: fixed;
}

.slide:nth-child(4) {
    background: url('../Images/bmw-768688.jpg') no-repeat center top;
    background-size: cover;
    background-attachment: fixed;
}

.slide:nth-child(5) {
    background: url('../Images/tyre_fitting2.jpg') no-repeat center top;
    background-size: cover;
    background-attachment: fixed;
}

.slide:nth-child(6) {
    background: url('https://source.unsplash.com/ggZuL3BTSJU/1600x900') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}








html, body {
    background: #fff;
    width: 100%;
    overflow-x: hidden;
/*    overflow-y: hidden;
*/
}

.bar {
    position: relative;
    height: 2px;
    width: 500px;
    margin: 0 auto;
    background: #347fc3;
    margin-top: 150px;
}

.circle {
    position: absolute;
    top: -30px;
    margin-left: -30px;
    height: 60px;
    width: 60px;
    left: 0;
    background: #347fc3;
    border-radius: 30%;
    -webkit-animation: move 5s infinite;
}

p {
    position: absolute;
    top: -35px;
    right: -85px;
    text-transform: uppercase;
    color: #fff;
    font-family: helvetica, sans-serif;
    font-weight: bold;
}

@-webkit-keyframes move {
    0% {
        left: 0;
    }

    50% {
        left: 100%;
        -webkit-transform: rotate(450deg);
        width: 150px;
        height: 150px;
    }

    75% {
        left: 100%;
        -webkit-transform: rotate(450deg);
        width: 150px;
        height: 150px;
    }

    100% {
        right: 100%;
    }
}


#myDiv {
    display: none;
    text-align: center;
}