/** {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background-color: #24252a;
   max-width: 100vw;
    margin-left: auto;
    margin-right: auto;
}

.logo {
  cursor: pointer;
}

.nav__links a,
.cta,
.overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
    
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links li {
  padding: 0px 20px;
  white-space:nowrap;
}

    .nav__links li a {
        transition: color 0.3s ease 0s;
        white-space: nowrap;
    }

.nav__links li a:hover {
  color: #0088a9;
}

.cta {
    padding: 9px 25px;
    background-image:*/ /*rgba(0, 136, 169, 1)*/ /*linear-gradient(to right, #32be8f, #38d39f, #32be8f);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
}

.cta:hover {
  background-color: rgba(0, 136, 169, 0.8);
}*/

/* Mobile Nav */

/*.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  transition: width 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: color 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: #0088a9;
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
}*/

/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
}

ul li a {
    display: block;
    color: #505978;
    white-space: nowrap;
}

.navbar {
    width: 100%;
    margin: 80px auto;
    height: 60px;
    background: #fff;
    padding: 0 50px;
    border-radius: 3px;
    top: -80px;
}


ul.menu,
ul.social_items {
    display: flex;
}

.navbar ul.menu a {
    margin: 0 5px;
    width: 120px;
    padding: 12px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.2s ease;
}

.navbar .logo {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 2px;
}

    .navbar .logo span {
        color: #7ddf96;
    }

.navbar_1,
.navbar_2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar.navbar_1 ul.menu a:hover,
.navbar.navbar_1 ul.menu a.active {
    background: #505978;
    color: #fff;
    border-radius: 3px;
}

.navbar.navbar_2 ul.menu a {
    border-radius: 25px;
}

    .navbar.navbar_2 ul.menu a:hover,
    .navbar.navbar_2 ul.menu a.active {
        background: #505978;
        color: #fff;
    }

.navbar.navbar_2 ul.social_items a {
    margin: 0 5px;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 25px;
    transition: all 0.2 ease;
}

    .navbar.navbar_2 ul.social_items a:hover {
        background: #505978;
        color: #fff;
    }

.navbar_3,
.navbar_4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .navbar_3 .navbar_left,
    .navbar_4 .navbar_left,
    .navbar_right ul {
        display: flex;
        align-items: center;
    }

    .navbar_3 .menu {
        margin-left: 25px;
    }

.navbar.navbar_3 .menu a {
    height: 60px;
    padding: 20px 12px;
}

    .navbar.navbar_3 .menu a:hover,
    .navbar.navbar_3 .menu a.active {
        border-bottom: 3px solid #505978;
    }

.navbar_right ul li a {
    margin: 0 5px;
    border: 1px solid #505978;
    padding: 5px 20px;
    border-radius: 3px;
    transition: all 0.2s ease;
}

    .navbar_right ul li a:hover {
        background: #505978;
        color: #fff;
    }

.navbar.navbar_4 .menu a:hover,
.navbar.navbar_4 .menu a.active {
    color: #7ddf96;
}

.search_box {
    position: relative;
    height: 35px;
    width: 225px;
}

    .search_box input {
        position: absolute;
        top: 0;
        right: 0;
        border: 0;
        border: 1px solid #505978;
        width: 50px;
        height: 35px;
        border-radius: 3px;
        outline: none;
        padding: 10px;
        padding-right: 30px;
        transition: all 0.2s ease;
    }

    .search_box i {
        position: absolute;
        top: 8px;
        right: 10px;
        z-index: 1;
    }

    .search_box input:focus {
        width: 225px;
    }









.menu {
    display: none;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #24252a;
    overflow-x: hidden;
    transition: width 0.5s ease 0s;
}

.overlay--active {
    width: 100%;
}

.overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: color 0.3s ease 0s;
}

    .overlay a:hover,
    .overlay a:focus {
        color: #0088a9;
    }

.overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }

    .overlay .close {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media only screen and (max-width: 800px) {
    .nav__links,
    .cta {
        display: none;
    }

    .menu {
        display: initial;
    }
}*/




* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

.navbar {
    font-size: 18px;
    padding-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    transition: all 0.2s ease;
}

#main-nav {
    list-style-type: none;
    display: none;
    flex-direction: column;
}

    #main-nav li {
        text-align: center;
        margin: 15px auto;
    }

.nav-links {
    text-decoration: none;
    color: #505978;
}

    #logo:hover,
    .nav-links:hover {
        color: rgba(255, 255, 255, 1);
        background: #505978;
        margin: 0 5px;
        border: 1px solid #505978;
        padding: 5px 20px;
        border-radius: 25px;
        transition: all 0.2s ease;
    }

#logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
}

#navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: #505978;
    font-size: 24px;
}

    #navbar-toggle:hover {
        color: #0093E9;
    }

@media screen and (min-width: 768px) {

    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }

    #main-nav {
        display: flex !important;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

        #main-nav li {
            margin: 0;
        }

    .nav-links {
        margin-left: 40px;
        color: #505978;
    }

    #logo {
        margin-top: 0;
    }

    #navbar-toggle {
        display: none;
    }
}






.navbar .logos {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 2px;
}

    .navbar .logos span {
        color: #7ddf96;
    }