<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Automotive_Repair_WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/styles.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet">
    <style>
        img {
            width: 10%;
            height: auto;
            padding-bottom: 0px;
        }
    </style>
</head>
<body>
    @*<header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="https://www.freepnglogos.com/uploads/cleveland-auto-show-car-logo-png-25.png"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Aboutus">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Tyres">Tyres</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Services">Services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Getaquote">Get A Quote</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Wof">WOF</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>


                        </ul>
                    </div>
                </div>
            </nav>
        </header>*@
    <header>
        <a class="logo" href="/"><img src="https://www.freepnglogos.com/uploads/cleveland-auto-show-car-logo-png-25.png" alt="logo"></a>
        <nav>
            <ul class="nav__links">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                @*<li><a asp-area="" asp-controller="Home" asp-action="Aboutus">About Us</a></li>*@
                <li><a asp-area="" asp-controller="Home" asp-action="Tyres">Tyres</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Services">Services</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Getaquote">Get A Quote</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Wof">WOF</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Aboutus">AboutUs</a></li>
            </ul>
        </nav>
        <a class="cta" asp-area="" asp-controller="Home" asp-action="LoginRegister">Login</a>
        <p1 class="menu cta">Menu</p1>
    </header>
    <div class="overlay">
        <a class="close">&times;</a>
        <div class="overlay__content">
            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            <a asp-area="" asp-controller="Home" asp-action="Tyres">Tyres</a>
            <a asp-area="" asp-controller="Home" asp-action="Services">Services</a>
            <a asp-area="" asp-controller="Home" asp-action="Getaquote">Get A Quote</a>
            <a asp-area="" asp-controller="Home" asp-action="Wof">WOF</a>
            <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            <a asp-area="" asp-controller="Home" asp-action="Aboutus">AboutUs</a>
        </div>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div id="progressBarContainer">
        <div id="progressBar"></div>
    </div>
    <script src="~/js/bar.js"></script>
    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2021 - Automotive_Repair_WebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="~/js/mobile.js"></script>
    <script type="text/javascript" src="mobile.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

