@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Automotive_Repair_WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/styles.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

    <style>
        img {
            width: 10%;
            height: auto;
            padding-bottom: 0px;
        }
    </style>
</head>
<body>
    @*<header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="https://www.freepnglogos.com/uploads/cleveland-auto-show-car-logo-png-25.png"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Aboutus">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Tyres">Tyres</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Services">Services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Getaquote">Get A Quote</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Wof">WOF</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>


                        </ul>
                    </div>
                </div>
            </nav>
        </header>*@
    <!--<header>
        <a class="logo" href="/"><img src="https://www.freepnglogos.com/uploads/cleveland-auto-show-car-logo-png-25.png" alt="logo"></a>
        <nav>
            <ul class="nav__links">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>-->
    @*<li><a asp-area="" asp-controller="Home" asp-action="Aboutus">About Us</a></li>*@
    <!--<li><a asp-area="" asp-controller="Home" asp-action="Tyres">Tyres</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Services">Services</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Getaquote">Get A Quote</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Wof">WOF</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Aboutus">AboutUs</a></li>
            </ul>
        </nav>
        <a class="cta" asp-area="" asp-controller="Home" asp-action="LoginRegister">Login</a>
        <p1 class="menu cta">Menu</p1>
    </header>
    <div class="overlay">
        <a class="close">&times;</a>
        <div class="overlay__content">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-links">Home</a>
            <a asp-area="" asp-controller="Home" asp-action="Tyres" class="nav-links">Tyres</a>
            <a asp-area="" asp-controller="Home" asp-action="Services" class="nav-links">Services</a>
            <a asp-area="" asp-controller="Home" asp-action="Getaquote" class="nav-links">Get A Quote</a>
            <a asp-area="" asp-controller="Home" asp-action="Wof" class="nav-links">WOF</a>
            <a asp-area="" asp-controller="Home" asp-action="Privacy" class="nav-links">Privacy</a>
            <a asp-area="" asp-controller="Home" asp-action="Aboutus" class="nav-links">AboutUs</a>
        </div>
    </div>-->



    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <nav class="navbar">
        <span id="navbar-toggle">
            <i class="fas fa-bars"></i>
        </span>
        <div class="logos"><a style="text-decoration:none" href="/"><bk>Avondale</bk><span>Tyres</span></a></div>
        <ul id="main-nav">

            <li>
                <a asp-area="" asp-controller="Home" asp-action="Tyres" class="nav-links">Tyres</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Services" class="nav-links">Services</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Getaquote" class="nav-links">Get A Quote</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Wof" class="nav-links">WOF</a>
            </li>
            @*<li>
                    <a asp-area="" asp-controller="Home" asp-action="Privacy" class="nav-links">Privacy</a>
                </li>*@
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Aboutus" class="nav-links dropdown">AboutUs</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">  Staff Only  </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#"> Dropdown item 1 </a></li>
                    <li>
                        <a class="dropdown-item" href="#"> Dropdown item 2 &raquo; </a>
                        <ul class="submenu dropdown-menu">
                            <li><a class="dropdown-item" href="#">Submenu item 1</a></li>
                            <li><a class="dropdown-item" href="#">Submenu item 2</a></li>
                            <li><a class="dropdown-item" href="#">Submenu item 3</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#"> Dropdown item 3 &raquo; </a>
                        <ul class="submenu dropdown-menu">
                            <li><a class="dropdown-item" href="#">Another submenu 1</a></li>
                            <li><a class="dropdown-item" href="#">Another submenu 2</a></li>
                            <li><a class="dropdown-item" href="#">Another submenu 3</a></li>
                            <li><a class="dropdown-item" href="#">Another submenu 4</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#"> Dropdown item 4 &raquo;</a>
                        <ul class="submenu dropdown-menu">
                            <li><a class="dropdown-item" href="#">Another submenu 1</a></li>
                            <li><a class="dropdown-item" href="#">Another submenu 2</a></li>
                            <li><a class="dropdown-item" href="#">Another submenu 3</a></li>
                            <li><a class="dropdown-item" href="#">Another submenu 4</a></li>
                        </ul>
                    </li>
                    <li><a class="dropdown-item" href="#"> Dropdown item 5 </a></li>
                    <li><a class="dropdown-item" href="#"> Dropdown item 6 </a></li>
                </ul>
            </li>

            @*<li>
                    <a asp-area="" asp-controller="Home" asp-action="LoginRegister" class="nav-links">Login</a>
                </li>*@
        </ul>
        <ul class="navbar-nav ml-auto">
            @*If the user is signed-in display Logout link*@
            @if (SignInManager.IsSignedIn(User))
            {
                <li class="nav-item">
                    <form method="post" asp-controller="account" asp-action="logout">
                        <button type="submit" style="width:auto"
                                class="nav-link btn btn-link py-0">
                            Logout @User.Identity.Name
                        </button>
                    </form>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link" asp-controller="account" asp-action="register">
                        Register
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="account" asp-action="login">
                        Login
                    </a>
                </li>
            }
        </ul>
    </nav>
    <script>
        let mainNav = document.getElementById('main-nav');
        let navbarToggle = document.getElementById('navbar-toggle');



        navbarToggle.addEventListener('click', function () {

            if (this.classList.contains('active')) {
                mainNav.style.display = "none";
                this.classList.remove('active');
            }
            else {
                mainNav.style.display = "flex";
                this.classList.add('active');

            }
        });</script>
    <script src="C:\Users\andyb\source\repos\Automotive-Repair-WebApp\Automotive Repair WebApp\Views\Shared\mobile.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe"
            crossorigin="anonymous"></script>
    <script src="main.js"></script>
    <script src="C:\Users\ac98844\source\repos\Automotive-Repair-WebApp\Automotive Repair WebApp\Views\Shared\mobile.js"></script>
    <script src="mobile.js"></script>


    <script type="text/javascript">
        //	window.addEventListener("resize", function() {
        //		"use strict"; window.location.reload();
        //	});


        document.addEventListener("DOMContentLoaded", function () {


            /////// Prevent closing from click inside dropdown
            document.querySelectorAll('.dropdown-menu').forEach(function (element) {
                element.addEventListener('click', function (e) {
                    e.stopPropagation();
                });
            })



            // make it as accordion for smaller screens
            if (window.innerWidth < 992) {

                // close all inner dropdowns when parent is closed
                document.querySelectorAll('.navbar .dropdown').forEach(function (everydropdown) {
                    everydropdown.addEventListener('hidden.bs.dropdown', function () {
                        // after dropdown is hidden, then find all submenus
                        this.querySelectorAll('.submenu').forEach(function (everysubmenu) {
                            // hide every submenu as well
                            everysubmenu.style.display = 'none';
                        });
                    })
                });

                document.querySelectorAll('.dropdown-menu a').forEach(function (element) {
                    element.addEventListener('click', function (e) {

                        let nextEl = this.nextElementSibling;
                        if (nextEl && nextEl.classList.contains('submenu')) {
                            // prevent opening link if link needs to open dropdown
                            e.preventDefault();
                            console.log(nextEl);
                            if (nextEl.style.display == 'block') {
                                nextEl.style.display = 'none';
                            } else {
                                nextEl.style.display = 'block';
                            }

                        }
                    });
                })
            }
            // end if innerWidth

        });
        // DOMContentLoaded  end
    </script>
    <!--<div class="wrapper">


        <div class="navbar navbar_2">
            <div class="logo">Avondale<span>Tyres</span></div>
            <ul class="menu">-->
    @*<li><a href="#">Home</a></li>
        <li><a href="#" class="active">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Profile</a></li>*@

    <!--<li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a class="active" asp-area="" asp-controller="Home" asp-action="Aboutus">About Us</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Tyres">Tyres</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Services">Services</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Getaquote">Get A Quote</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Wof">WOF</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
            </ul>
            <ul class="social_items">
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </div>



        <div class="overlay">
            <a class="close">&times;</a>
            <div class="overlay__content">
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                <a asp-area="" asp-controller="Home" asp-action="Tyres">Tyres</a>
                <a asp-area="" asp-controller="Home" asp-action="Services">Services</a>
                <a asp-area="" asp-controller="Home" asp-action="Getaquote">Get A Quote</a>
                <a asp-area="" asp-controller="Home" asp-action="Wof">WOF</a>
                <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                <a asp-area="" asp-controller="Home" asp-action="Aboutus">AboutUs</a>
            </div>
        </div>

    </div>-->




    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div id="progressBarContainer">
        <div id="progressBar"></div>
    </div>
    <script src="~/js/bar.js"></script>
    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2021 - Automotive_Repair_WebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="~/js/mobile.js"></script>
    <script type="text/javascript" src="mobile.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

