<link href="~/css/scroll1.css" rel="stylesheet" />
@{
    ViewData["Title"] = "Aboutus";
}

<h1>Aboutus</h1>

<div id="progressBarContainer">
    <div id="progressBar"></div>
</div>
<h1>Welcome.</h1>
<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur
    provident eveniet veritatis ipsa id consectetur ab tenetur dolores eaque.
    Temporibus laboriosam cum corporis amet doloremque animi aut ipsa ea a?
</p>
<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur
    provident eveniet veritatis ipsa id consectetur ab tenetur dolores eaque.
    Temporibus laboriosam cum corporis amet doloremque animi aut ipsa ea a?
</p>
<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur
    provident eveniet veritatis ipsa id consectetur ab tenetur dolores eaque.
    Temporibus laboriosam cum corporis amet doloremque animi aut ipsa ea a?
</p>
<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur
    provident eveniet veritatis ipsa id consectetur ab tenetur dolores eaque.
    Temporibus laboriosam cum corporis amet doloremque animi aut ipsa ea a?
</p>
<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur
    provident eveniet veritatis ipsa id consectetur ab tenetur dolores eaque.
    Temporibus laboriosam cum corporis amet doloremque animi aut ipsa ea a?
</p>
<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur
    provident eveniet veritatis ipsa id consectetur ab tenetur dolores eaque.
    Temporibus laboriosam cum corporis amet doloremque animi aut ipsa ea a?
</p>
<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur
    provident eveniet veritatis ipsa id consectetur ab tenetur dolores eaque.
    Temporibus laboriosam cum corporis amet doloremque animi aut ipsa ea a?
</p>
<h1>Welcome.</h1>
<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur
    provident eveniet veritatis ipsa id consectetur ab tenetur dolores eaque.
    Temporibus laboriosam cum corporis amet doloremque animi aut ipsa ea a?
</p>
<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur
    provident eveniet veritatis ipsa id consectetur ab tenetur dolores eaque.
    Temporibus laboriosam cum corporis amet doloremque animi aut ipsa ea a?
</p>
<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur
    provident eveniet veritatis ipsa id consectetur ab tenetur dolores eaque.
    Temporibus laboriosam cum corporis amet doloremque animi aut ipsa ea a?
</p>
<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur
    provident eveniet veritatis ipsa id consectetur ab tenetur dolores eaque.
    Temporibus laboriosam cum corporis amet doloremque animi aut ipsa ea a?
</p>
<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur
    provident eveniet veritatis ipsa id consectetur ab tenetur dolores eaque.
    Temporibus laboriosam cum corporis amet doloremque animi aut ipsa ea a?
</p>
<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur
    provident eveniet veritatis ipsa id consectetur ab tenetur dolores eaque.
    Temporibus laboriosam cum corporis amet doloremque animi aut ipsa ea a?
</p>
<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur
    provident eveniet veritatis ipsa id consectetur ab tenetur dolores eaque.
    Temporibus laboriosam cum corporis amet doloremque animi aut ipsa ea a?
</p>
<script src="~/js/bar.js"></script>