@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] Avondale Tyres & Car Repairs</title>
    <link rel="stylesheet" type="text/css" href="~/css/scroll.css" />
    <link href="~/css/cursor.css" rel="stylesheet" />
    @*<style>*@
    @*/* p {
            position: absolute;
            top: -35px;
            right: -85px;
            text-transform: uppercase;
            color: #fff;
            font-family: helvetica, sans-serif;
            font-weight: bold;
        }*/
        /*acv {
            font-family: 'Roboto', sans-serif;
            background: #333;
            color: #fff;
            line-height: 1.6;
        }*/*@
    @*</style>*@
    @*<style>
            /* width */
            /*::-webkit-scrollbar {
                width: 10px;
            }*/

            /* Track */
            /*::-webkit-scrollbar-track {
                box-shadow: inset 0 0 5px grey;
                border-radius: 10px;
            }*/

            /* Handle */
            /*::-webkit-scrollbar-thumb {
                background: #0066cc;
                border-radius: 10px;
            }*/

                /* Handle on hover */
                /*::-webkit-scrollbar-thumb:hover {
                    background: #b30000;
                }*/

            /*body {
                margin: 0;
                padding: 0;
                background: #34495e;
            }*/

            /*.slidershow {
                width: 700px;
                height: 400px;
                overflow: hidden;
                margin:auto;
            }

            .middle {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-100%);
            }

            .navigation {
                position: absolute;
                bottom: 20px;
                left: 50%;
                transform: translateX(-50%);
                display: flex;
            }

            .bar {
                width: 50px;
                height: 10px;
                border: 2px solid #fff;
                margin: 6px;
                cursor: pointer;
                transition: 0.4s;
            }

                .bar:hover {
                    background: #fff;
                }

            input[name="r"] {
                position: absolute;
                visibility: hidden;
            }

            .slides {
                width: 500%;
                height: 100%;
                display: flex;
            }

            .slide {
                width: 20%;
                transition: 0.6s;
            }

                .slide img {
                    width: 100%;
                    height: 100%;
                }

            #r1:checked ~ .s1 {
                margin-left: 0;
            }

            #r2:checked ~ .s1 {
                margin-left: -20%;
            }

            #r3:checked ~ .s1 {
                margin-left: -40%;
            }

            #r4:checked ~ .s1 {
                margin-left: -60%;
            }

            #r5:checked ~ .s1 {
                margin-left: -80%;
            }

            .move {
                position: relative;
                top: 120px;
            }
            .move1 {
                position: relative;
                top: 500px;
            }*/
        </style>*@
</head>
<div class="cursor"></div>

<script>
    const cursor = document.querySelector('.cursor');

    document.addEventListener('mousemove', e => {
        cursor.setAttribute("style", "top: " + (e.pageY - 10) + "px; left: " + (e.pageX - 10) + "px;")
    })

    document.addEventListener('click', () => {
        cursor.classList.add("expand");

        setTimeout(() => {
            cursor.classList.remove("expand");
        }, 500)
    })
</script>
@*<body onload="myFunction()" style="margin:0;">

        <div id="loader" class="bar">
            <div class="circle"></div>
            <p>Loading</p>
        </div>
    </body>*@
@*<div style="display:none;" id="myDiv" class="animate-bottom">*@
<body onload="myFunction()" style="margin:0;">

    <div id="loader" class="bar">
        <div class="circle"></div>
        <p>Loading</p>
    </div>

</body>

<div class="qqq">
    <div style="display:none;" id="myDiv" class="animate-bottom">
        <div class="slider">
            <div class="slide current">
                <div class="content">
                    <h1>Slide One</h1>
                    <p1>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit hic
                        maxime, voluptatibus labore doloremque vero!
                    </p1>
                </div>
            </div>
            <div class="slide">
                <div class="content">
                    <h1>Slide Two</h1>
                    <p1>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit hic
                        maxime, voluptatibus labore doloremque vero!
                    </p1>
                </div>
            </div>
            <div class="slide">
                <div class="content">
                    <h1>Slide Three</h1>
                    <p1>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit hic
                        maxime, voluptatibus labore doloremque vero!
                    </p1>
                </div>
            </div>
            <div class="slide">
                <div class="content">
                    <h1>Slide Four</h1>
                    <p1>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit hic
                        maxime, voluptatibus labore doloremque vero!
                    </p1>
                </div>
            </div>
            <div class="slide">
                <div class="content">
                    <h1>Slide Five</h1>
                    <p1>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit hic
                        maxime, voluptatibus labore doloremque vero!
                    </p1>
                </div>
            </div>
            <div class="slide">
                <div class="content">
                    <h1>Slide Six</h1>
                    <p1>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit hic
                        maxime, voluptatibus labore doloremque vero!
                    </p1>
                </div>
            </div>
        </div>
        <div class="buttons">
            <button id="prev"><i class="fas fa-arrow-alt-circle-left"></i></button>
            <button id="next"><i class="fas fa-arrow-alt-circle-right"></i></button>
        </div>

        <script src="~/js/main.js"></script>
        <script>
            var myVar;

            function myFunction() {
                myVar = setTimeout(showPage, 5000);
            }

            function showPage() {
                document.getElementById("loader").style.display = "none";
                document.getElementById("myDiv").style.display = "block";
            }</script>
        @*<div class="container">
                <div class="slider">
                    <div class="slider slide1">
                        <div class="caption">
                            <h2>Tyres</h2>
                            <p>
                                d d  jbdkl cdljbjx lblsj  bsvsbljb vfb lblv dljbk lbskbdv
                                jlbbljbfd f cx.
                            </p>
                        </div>

                    </div>

                    <div class="slider slide2">
                        <div class="caption">
                            <h2>Tyres</h2>
                            <p>
                                d d  jbdkl cdljbjx lblsj  bsvsbljb vfb lblv dljbk lbskbdv
                                jlbdslj dbjlfs jbjcwn, j djcbd djbc
                                jbvjv  fvf fbjfv fvf fv ff f vb b d g g v  c cf g b b b b
                                cx fjfbljbfd f cx.
                            </p>
                        </div>

                    </div>
                    <div class="slider slide3">
                        <div class="caption">
                            <h2>car</h2>
                            <p>
                                d d  jbdkwn, j f v f v   v dj jdccjdb djcbd djbc
                                jbvjv  fvf fbjfv fvf fv ff f vb b d g g v  c cf g b b b b
                                cx fjfbljbfd f cx.
                            </p>
                        </div>

                    </div>
                    <div class="slider slide4">
                        <div class="caption">
                            <h2>spped</h2>
                            <p>
                                d d  jbdkl cdljbjx lblsj  bsvsbljb vfb lblv dljbk lbskbdv
                                jlbdslj dbv ff f vb b d g g v  c cf g b b b b
                                cx fjfbljbfd f cx.
                            </p>
                        </div>

                    </div>
                    <div class="slider slide5">
                        <div class="caption">
                            <h2>road</h2>
                            <p>
                                d d  jbdkl cdljbjx lblsj  bsvsbljb vfb lblv dljbk lbskbdv
                                jlbdslj dbjlfs jbjcwn, j f v f v   v dj jdccjdb djcbd djbc
                                jbvjv  fvf fbj
                            </p>
                        </div>

                    </div>
                </div>
            </div>*@
        @*<div class="slidershow middle move1">

                <div class="slides">
                    <input type="radio" name="r" id="r1" checked>
                    <input type="radio" name="r" id="r2">
                    <input type="radio" name="r" id="r3">
                    <input type="radio" name="r" id="r4">
                    <input type="radio" name="r" id="r5">
                    <div class="slide s1">
                        <img src="~/Images/auto-3209511.jpg" alt="">
                    </div>
                    <div class="slide">
                        <img src="~/Images/car-63930.jpg" alt="">
                    </div>
                    <div class="slide">
                        <img src="~/Images/In-Ground-Vehicle-Lifts-vs.-Above-Ground-Vehicle-Lifts.jpg" alt="">
                    </div>
                    <div class="slide">
                        <img src="~/Images/super-cheap-tyres-auckland.jpg" alt="">
                    </div>
                    <div class="slide">
                        <img src="~/Images/tyre_fitting2.jpg" alt="">
                    </div>
                </div>

                <div class="navigation">
                    <label for="r1" class="bar"></label>
                    <label for="r2" class="bar"></label>
                    <label for="r3" class="bar"></label>
                    <label for="r4" class="bar"></label>
                    <label for="r5" class="bar"></label>
                </div>
            </div>*@
        @*<div id="progressbar"></div>
            <div id="scrollPath"></div>*@
        <div @*class="move"*@>
            <h2>aziz's scroll bar test</h2>
            <p1>
                Good whereas next representing, representing humanity inevitable
                time has specifically manifest. Ergo his defined shame fact in
                point been embodies represents flaws given specifically instill
                thus certainly religious tragic! Because copy, unknowingly ergo
                moreover new once, could thus our manifestation, copy heroic demise
                his case point thus as. To given prowess in, thus doom religious
                life in shown as her next depicts shame such tragic. Given copy
                faces specifically inevitable thus anyone ergo depicts because.
                Ergo shame unknowingly a so presents doom tragic phenomenal God
                portrays case certainly because ever due to time represents mani
                festation. New vivid, certainly phenomenal, could thus an where
                as portrays.
                Phenomenal her certainly yet a represents whereas by embodies
                in
                humanity because. Copy new certainly, portrays an heroic unknowingly
                ever invoke anyone, severe faces heroic shame. Has hence point
                instill manifestation because embodies new life prophecy been
                live has certainly a an, story tragic ergo nobody? Ergo defined
                lot to religious due to religious thus portrayal represents. Fac
                es specifically lot tragic nobody new could for shocking certain
                ly by invoke live depicts God could nobody been. Hence without
                given portrayal manifest new so given defined tragic flaws God
                unknowingly. So certainly given ergo unknowingly, time depict s
                hocking presents problem manifestation God portrayal moreover r
                epresenting faces problem far copy vivid. Fact could specifica
                lly doom hence our representing, shocking story our prophecy,
                case tragic given. Point religious phenomenal manifestation mo
                reover day heroic traits traits a moreover time manifestation
                copy manifestation in manifestation portrays. Shame defined as
                faces shown far depict for severe nobody faces demise point ha
                s manifest because, given, his far could, formula. Religious
                an life day problem as as shown shocking manifestation God.
                Lot represents depicts been given so ergo ever, copy hero, an,
                h
                is so depicts, unknowingly shame such given heroic as. Certai
                nly
                day unknowingly shame her, represents could because embodies b
                een problem due to good time. Doom portrayal nobody copy traits
                , her due to humanity such certainly yet day. For, portrays dem
                ise prowess for live far by next next without because life stor
                y once so representing her personal embodies. Live depicts give
                n moreover could formula such, unknowingly whereas his invoke p
                resents thus fact ever. Untimely presents unknowingly formula h
                ero shown nobody portrayal hero case been heroic certainly next.
                Shown representing tragic shown so could, vivid personal has de
                ath point. Manifestation our good God traits represents ergo fl
                aws, untimely life life, vivid anyone due to invoke shown phenomen
                al invoke. Formula depict could lot depict embodies instill seve
                re depicts as some due to good tragic tragic. Fact yet her religi
                ous formula heroic depict phenomenal demise, shown ergo once shock
                ing without specifically depict depict, severe represents.
                Fact ergo doom some once case far demise formula problem, point f
                ormula her such. Depict lot her instill shocking flaws shame, with
                out time flaws due to phenomenal to, far case. Because been pheno
                menal defined represents ever day depicts traits defined ergo lif
                e moreover thus certainly copy given, his nobody God. Presents goo
                d presents new portrayal doom ever flaws live religious as ever as
                defined to due to could religious case God heroic. Given religious
                story to instill live such unknowingly an nobody good new good sho
                cking her embodies? Doom to phenomenal copy phenomenal portrays em
                bodies a life for to vivid once tragic religious prophecy because
                death because been. Such, inevitable humanity shame fact due to sh
                ame live shocking shocking by moreover can. Some specifically liv
                e without day problem could tragic lot prophecy prowess doom depic
                t can phenomenal faces point as formula embodies. Thus such as, mor
                eover God such story, ever inevitable.
                Unknowingly lot depict new untimely can because given given prophec
                y manifest untimely next a representing. Because lot been traits G
                od demise some ever ergo good defined tragic moreover humanity poi
                nt prowess shame has time good? Case shocking ergo in doom been he
                r thus some nobody. His by because hero his invoke by depict vivid
                shown doom problem doom good manifestation tragic. Depict story cas
                e prowess her thus hence presents because fact depict case far his
                life hence flaws personal hence shame, so. Tragic heroic traits her
                oic given yet live as inevitable.
                Good whereas next representing, representing humanity inevitable
                time has specifically manifest. Ergo his defined shame fact in
                point been embodies represents flaws given specifically instill
                thus certainly religious tragic! Because copy, unknowingly ergo
                moreover new once, could thus our manifestation, copy heroic demise
                his case point thus as. To given prowess in, thus doom religious
                life in shown as her next depicts shame such tragic. Given copy
                faces specifically inevitable thus anyone ergo depicts because.
                Ergo shame unknowingly a so presents doom tragic phenomenal God
                portrays case certainly because ever due to time represents mani
                festation. New vivid, certainly phenomenal, could thus an where
                as portrays.
                Phenomenal her certainly yet a represents whereas by embodies
                in
                humanity because. Copy new certainly, portrays an heroic unknowingly
                ever invoke anyone, severe faces heroic shame. Has hence point
                instill manifestation because embodies new life prophecy been
                live has certainly a an, story tragic ergo nobody? Ergo defined
                lot to religious due to religious thus portrayal represents. Fac
                es specifically lot tragic nobody new could for shocking certain
                ly by invoke live depicts God could nobody been. Hence without
                given portrayal manifest new so given defined tragic flaws God
                unknowingly. So certainly given ergo unknowingly, time depict s
                hocking presents problem manifestation God portrayal moreover r
                epresenting faces problem far copy vivid. Fact could specifica
                lly doom hence our representing, shocking story our prophecy,
                case tragic given. Point religious phenomenal manifestation mo
                reover day heroic traits traits a moreover time manifestation
                copy manifestation in manifestation portrays. Shame defined as
                faces shown far depict for severe nobody faces demise point ha
                s manifest because, given, his far could, formula. Religious
                an life day problem as as shown shocking manifestation God.
                Lot represents depicts been given so ergo ever, copy hero, an,
                h
            </p1>
        </div>
    </div>
</div>
@*<script type="text/javascript">
        Let progress = document.getElementByIs('progressbar');
        Let totalHeight = document.body.scrollHeight - window.innerHeight;
        window.onscroll = funtion(){
            Let progressHeight = (window.pageYOffset /
                totalHeight) * 100;
            progress.style / height = progressHeight + "%";
        }
    </script>*@
@*</div>*@




<script src="~/js/loader.js"></script>



@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@

@*<footer class="footer-area">
        <link href="~/css/footer.css" rel="stylesheet" />

        <div class="footer-wave-box">
            <div class="footer-wave footer-animation"></div>
        </div>
        <div class="main">
            <div class="footer">
                <div class="single-footer">
                    <h4>about us</h4>
                    <p1>NO.1 Automotive business in Auckland</p1>
                    <div class="footer-social">
                        <a href=""><i class="fab fa-facebook-f"></i></a>
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>
                        <a href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="single-footer">
                    <h4>main menu</h4>
                    <ul>
                        <li><a href=""><i class="fas fa-chevron-right"></i> home</a></li>
                        <li><a href=""><i class="fas fa-chevron-right"></i> about us</a></li>
                        <li><a href=""><i class="fas fa-chevron-right"></i> services</a></li>
                        <li><a href=""><i class="fas fa-chevron-right"></i> gallery</a></li>
                        <li><a href=""><i class="fas fa-chevron-right"></i> contact us</a></li>
                    </ul>
                </div>
                <div class="single-footer">
                    <h4>quick links</h4>
                    <ul>
                        <li><a href=""><i class="fas fa-chevron-right"></i> privacy policy</a></li>
                        <li><a href=""><i class="fas fa-chevron-right"></i> terms & conditions</a></li>
                        <li><a href=""><i class="fas fa-chevron-right"></i> disclaimer</a></li>
                    </ul>
                </div>
                <div class="single-footer">
                    <h4>contact us</h4>
                    <ul>
                        <li><a href=""><i class="fas fa-map-marker-alt"></i>541 Rosebank Rd, Avondale</a></li>
                        <li><a href=""><i class="fas fa-mobile-alt"></i> (09) 828 5857</a></li>
                        <li><a href=""><i class="far fa-envelope"></i> avondale.tyres@gmail.com</a></li>
                        <li><a href=""><i class="fas fa-globe-europe"></i> www.demo.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="copy">
                <p1>&copy; AvondaleTyres 2021 all rights reserved</p1>
            </div>
        </div>
    </footer>*@
