
@{
    ViewData["Title"] = "Services";
}

<h1>Services</h1>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/cardservice.css" rel="stylesheet" />
    <title>services</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="img">
                @*<img src="http://www.pngmart.com/files/10/Bugatti-Veyron-Transparent-Background.png">*@
                <img src="~/Images/car-498439.jpg" />
            </div>
            <div class="top-text">
                <div class="name">
                    Car BodyWork
                </div>
                <p>
                    Panelbeating
                </p>
            </div>
            <div class="bottom-text">
                <div class="text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem quaerat iusto adipisci reprehenderit quasi cum perspiciatis, minima reiciendis magni quam!
                </div>
                <div class="btn">
                    <a href="#">Read more</a>
                </div>
            </div>
        </div>
        @*http://www.pngmart.com/files/5/Mercedes-Benz-PNG-Photo.png*@
        <div class="card">
            <div class="img">
                <img src="~/Images/—Pngtree—auto car service template_3607234.png">
            </div>
            <div class="top-text">
                <div class="name">
                    Fully Service cars
                </div>
                <p>
                    Prices starting from $60
                </p>
            </div>
            <div class="bottom-text">
                <div class="text">
                    We Fully service cars to make it into a perfect condition which makes every car owner pleasent! If your vehicle is mission-critical to your life or work, you want to keep it running safely and smoothly. With Smart Service you’ll have your oil and filter changed, and all fluid levels topped up, including power steering, brakes, transmission, coolant and washer fluid.
                </div>
                <div class="btn">
                    <a href="#">Read more</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="img">
                @*<img src="http://www.pngmart.com/files/10/Car-Engine-PNG-File.png">*@
                <img src="~/Images/motor-768750.jpg" />
            </div>
            <div class="top-text">
                <div class="name">
                    Broken Engine?
                </div>
                <p>
                    We can fix it!
                </p>
            </div>
            <div class="bottom-text">
                <div class="text">
                    Your car engine has a lot of components – belts, spark plugs, gaskets and more – that work together to get you where you want to go. They all need to be functioning properly to keep the engine running smoothly. Regular inspections can spot danger and wear before they stop your car in the middle of nowhere. But even if your minor issue turns major, Avondale Tyres can handle it.
                </div>
                <div class="btn">
                    <a href="#">Read more</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="img">
                @*<img src="http://www.pngmart.com/files/10/Bugatti-Veyron-Transparent-Background.png">*@
                <img src="~/Images/car-498439.jpg" />
            </div>
            <div class="top-text">
                <div class="name">
                    Brakes
                </div>
                <p>
                    So you can stop when needed
                </p>
            </div>
            <div class="bottom-text">
                <div class="text">
                    Is the squeal or shimmy when you brake embarrassing? Had a near-miss because your brakes aren’t so good? Get those brakes inspected before something really serious happens.
                </div>
                <div class="btn">
                    <a href="#">Read more</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


@*<a href='https://pngtree.com/so/car-icons'>car icons png from pngtree.com</a>*@